<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- You can add custom head content here like fonts, meta tags, etc. -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
  rel="stylesheet"
/>
<!-- Tailwind CSS -->
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>