/* Custom styles for your CV */
/* You can use plain CSS here alongside Tailwind classes in the HTML */
/* Tip: A4 is 210mm width x 297mm height */

@page {
  size: A4;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  font-family: "Mulish", sans-serif;
}

li::marker {
  content: "– ";
}

strong {
  font-weight: bold;
}

@media print {
  body {
    width: 210mm;
    min-height: 297mm;
  }
}
